<div class="container-md d-flex flex-column flex-shrink-0" style="overflow-y: scroll; height:100%;">
    <div class="row m-3">
        <div class="col">
            <h2>Electronics</h2>
            <p>Welcome back, Ahmed!</p>
        </div>
    </div>

    <div class="m-3" *ngIf="!isEmpty">
        <div class="row mt-3 me-3 ms-3" *ngFor="let e of electronics">
            <div class="col-6 themed-grid-col">{{e.name}}</div>
            <div class=" col-6 themed-grid-col text-center">
                <div class="row">
                    <div class="col-10" style="color: darkgreen;">${{e.price}}</div>
                    <button class="col-2 btn btn-dark btn-sm ml-2" (click)="buy(e)">Buy</button>
                </div>
            </div>
            <hr class="m-2">
        </div>
    </div>

    <div class="m-5" *ngIf="isEmpty">{{emptyErrorMessage}}</div>
</div>